<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_app/css/styles.css' %}" media="screen" title="Welcome" charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static 'user_app/sportify.js' %}"></script>
</head>
<body background= "{% static 'user_app/css/record.png' %}" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron main">    
                    <a href="{% url 'user_app:logout' %}">LOGOUT</a>
                    <h1>your music, {{request.session.first_name}}.</h1>
                    <div class="row">
                        <div class="md-col-4">
                            <a href="">HOME</a> |
                            <a href="{% url 'music_app:addArtist' %}">NEW ARTIST</a> |
                            <a href="{% url 'playlist_app:addPlaylist' %}">NEW PLAYLIST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 



        <h1 class=""><a>artists</a></h1>
        {% for artist in artists %}
        <h5><a href="{% url 'music_app:viewArtist' artist_id=artist.id %}">{{ artist.artist_name }}</a> 
        -<a href="{% url 'music_app:deleteArtist' artist_id=artist.id %}">Remove</a>
        -<a href="{% url 'music_app:editArtist' artist_id=artist.id %}">Update</a>
        </h5>
        {% endfor %}
        <h1 class=""><a>playlists</a></h1>
    {% for playlist in playlists %}
        {% if playlist.user_id == request.session.user_id %}
        <h5><a href="{% url 'playlist_app:viewPlaylist' playlist_id=playlist.id %}">{{ playlist.playlist_name }}</a> | <a href="{% url 'playlist_app:deletePlaylist' playlist_id=playlist.id %}">Delete PlayList</a></h5>
        {% endif %}
    {% endfor %}

   

<div col-md-12>
        <h1 class="footer">&copyCopyright 2017 | The Two Brothers</h1>
</div> 


    </body>
</html>