<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_app/css/styles.css' %}" media="screen" title="Login/Registration" charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static 'user_app/sportify.js' %}"></script>
</head>
<body background= "{% static 'user_app/css/record.png' %}" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron main">

                        <h1>Sportify</h1>
                        <!-- <img src="{% static 'user_app/css/record.png' %}" alt="" float-right> -->
                        

                    </div>
                {% for message in messages %}
                <h2>{{message}}</h2>
                {% endfor %}
           </div>
        </div>
        <div class="row">
            <div class="col-md-4 floatright">
                <form action="{% url 'user_app:login' %}" method="post">
                    {% csrf_token %}
                    <h1 class="header">login</h1>
                    <div class="form-group login">
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" autofocus>
                    </div>
                    <div class="form-group login">
                        <input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelp" placeholder="Enter Password">
                    </div>
                    <button type="submit" name="login" class="btn btn-primary floatright login loginbtn">login</button>
                </form>
                <form action="/register" method="post">
                    {% csrf_token %}
                    <h1 class="header">register</h1>
                    <div class="form-group login">
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group login">
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group login">
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group login">
                        <input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelp" placeholder="Password">
                    </div>
                    <div class="form-group login">
                        <input type="password" class="form-control" name="conf_password" id="conf_password" aria-describedby="emailHelp" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-primary floatright login loginbtn">register</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div col-md-12>
                <h1 class="footer">&copyCopyright 2017 | The Two Brothers</h1>
            </div>
        </div>
    </div>
</body>
</html>